In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# imputation
- Mice, Mean, or Drop

# discretization
- Supervised or Unsupervised

# target
- under or oversampling

In [2]:
df = pd.read_csv('data/TrainingWiDS2021.csv', index_col=[0])

In [3]:
df.head()

,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,icu_admit_source,...,h1_pao2fio2ratio_max,h1_pao2fio2ratio_min,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
1,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,Floor,...,NaN,NaN,0,0,0,0,0,0,0,1
2,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,Floor,...,51.0,51.0,0,0,0,0,0,0,0,1
3,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,Accident & Emergency,...,NaN,NaN,0,0,0,0,0,0,0,0
4,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,Operating Room / Recovery,...,337.0,337.0,0,0,0,0,0,0,0,0
5,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,Accident & Emergency,...,NaN,NaN,0,0,0,0,0,0,0,0

In [4]:
df.shape

(130157, 180)

In [5]:
test_df = pd.read_csv('data/UnlabeledWiDS2021.csv', index_col=[0])

In [6]:
test_df.head()

,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,icu_admit_source,...,h1_arterial_po2_min,h1_pao2fio2ratio_max,h1_pao2fio2ratio_min,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis
1,144740,10141,72,NaN,0,Caucasian,F,152.4,Floor,Accident & Emergency,...,NaN,NaN,NaN,0,0,0,0,0,0,0
2,141990,10141,86,NaN,0,Caucasian,F,175.3,Emergency Department,Accident & Emergency,...,NaN,NaN,NaN,0,0,0,0,0,0,0
3,142038,10141,72,NaN,0,Caucasian,F,162.6,Floor,Floor,...,NaN,NaN,NaN,0,0,0,0,0,0,0
4,138628,10141,66,NaN,0,Caucasian,M,177.8,Floor,Floor,...,NaN,NaN,NaN,0,0,0,0,0,0,0
5,141682,10141,89,NaN,0,Caucasian,M,170.2,Direct Admit,Accident & Emergency,...,NaN,NaN,NaN,0,0,0,0,0,0,0

In [7]:
set(df.columns) - set(test_df.columns)

{'diabetes_mellitus'}

In [8]:
df['diabetes_mellitus'].value_counts()

0    102006
1     28151
Name: diabetes_mellitus, dtype: int64

In [9]:
test_df.shape

(10234, 179)

In [10]:
df = df.iloc[:, 90:135]

In [11]:
df.shape

(130157, 45)

In [12]:
df.head()

,h1_sysbp_max,h1_sysbp_min,h1_sysbp_noninvasive_max,h1_sysbp_noninvasive_min,h1_temp_max,h1_temp_min,d1_albumin_max,d1_albumin_min,d1_bilirubin_max,d1_bilirubin_min,...,d1_wbc_min,h1_albumin_max,h1_albumin_min,h1_bilirubin_max,h1_bilirubin_min,h1_bun_max,h1_bun_min,h1_calcium_max,h1_calcium_min,h1_creatinine_max
1,131.0,115.0,131.0,115.0,39.5,37.5,2.3,2.3,0.4,0.4,...,14.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95.0,71.0,95.0,71.0,36.3,36.3,1.6,1.6,0.5,0.5,...,12.7,NaN,NaN,NaN,NaN,9.0,9.0,8.6,8.6,0.56
3,148.0,124.0,148.0,124.0,36.7,36.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,136.0,106.0,NaN,NaN,35.6,34.8,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,130.0,120.0,130.0,120.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.iloc[:, 2].isnull().value_counts()

False    118827
True      11330
Name: h1_sysbp_noninvasive_max, dtype: int64

In [14]:
def mean_imputation(df):
    return SimpleImputer(strategy="mean").fit_transform(df)

In [19]:
def mice_imputation(df):
    return IterativeImputer(random_state=42).fit_transform(df)

In [16]:
df.values

array([[131.  , 115.  , 131.  , ...,    nan,    nan,    nan],
       [ 95.  ,  71.  ,  95.  , ...,   8.6 ,   8.6 ,   0.56],
       [148.  , 124.  , 148.  , ...,    nan,    nan,    nan],
       ...,
       [134.  , 134.  , 134.  , ...,    nan,    nan,    nan],
       [128.  ,  70.  , 128.  , ...,    nan,    nan,    nan],
       [143.  , 127.  , 143.  , ...,   9.5 ,   9.5 ,   1.06]])

In [17]:
df.iloc[:, 2].mean()

133.05913639156083

In [20]:
mean_imputed_df = mean_imputation(df.values)

In [ ]:
mice_imputed_df = mice_imputation(df.values)